<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Prima.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7D6AF7171BCAB8A200A91292</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D6AF72B1BCAB8A200A91292</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D6AF7361BCAB8A200A91292</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
